<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Моите Пари</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <!-- Add your custom site.css -->
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container mt-4">
        @RenderBody()
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
