@{
    ViewData["Title"] = "Work In Progress";
}

<div class="d-flex flex-column justify-content-center align-items-center" style="height:80vh;">
    <h1 class="display-3 text-muted">Work In Progress</h1>
    <p class="lead text-muted mt-3">Тази функция се изгражда. Моля, върнете се скоро!</p>
</div>
